body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex; 
}

.logotipo .img-logo {
    max-width:350px;
    margin-top: 15px;
    padding-left: 30px;
}

.menu {
    padding-top: 40px;
    padding-left: 600px;
    font-weight: bold;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #222222;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
}

.menu i .fa.fa-home {
    font-family: Raleway;
}

.banner .img-banner img {
    width: 100%;
    opacity: 0.5;
    position: absolute;
}

.banner .text-banner {
    margin-top: 130px;
    margin-bottom: 100px;
    margin-left: 40px;
    font-size: 22px;
    position: absolute;
    color: #222222;
}

.banner .cta-button button {
    margin-top: 310px;
    margin-left: 40px;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #E61B72;
    font-size: 20px;
    position: absolute;
}
